main {
	background-color: #84CEEB;
	border-radius: 30px;
	display: grid;
	grid-template-columns: 20% 80%;
	grid-template-rows: 8% 92%;
	grid-template-areas: 
	"dmtop dmtop"
	"dmside dmc"
}
#dmtop {
	grid-area: dmtop;
	background-color: powderblue;

}
#dmside {
	grid-area: dmside;
	background-color: mediumslateblue;
	border-right: dashed 3px #000000;
}
#dmc {
	grid-area: dmc;
	text-align: center;
}
#back {
	height: 44px;
	width: 44px;
	padding-left: 20px;
	padding-right: 10px;
	border-right: solid 1px #000000;
}
#ecardcan {
	/*width: 400px;
	height: 500px;*/
	border: dashed 1px black;
	position: relative;
	top: 10%;
	text-align: center;
}
#dmsic {
	padding-top: 20px;
	padding-left: 20px;
}
#canwrite {

}